$primaryColor = #333

body
  font-family 'SF Pro SC', 'SF Pro Text', 'SF Pro Icons', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  color $primaryColor

a
  color $primaryColor

table
  width 100%
  border-collapse collapse

th
td
  padding 8px
  border 1px solid $primaryColor
  text-align left

#header
  align-items center
  justify-content center
  background red

#aside
  width 220px

#content
  flex 1

.loader
  position fixed
  top 0
  width 0%
  height 4px
  background lightgreen

.avatar
  width 48px
  height @width
  border-radius 50%

.page-grid
  flex 1
  display flex
  flex-wrap wrap
  padding 16px

.page
  display flex
  flex-flow column
  width 25%
  color white

.page > div
  flex 1
  margin 16px
  background red
