$primaryColor = #333

body
  font-family 'SF Pro SC', 'SF Pro Text', 'SF Pro Icons', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  color $primaryColor

a
  color $primaryColor

table
  width 100%
  border-collapse collapse

th
td
  padding 8px
  border 1px solid $primaryColor
  text-align left

#header
  height 80px
  background red

#aside
  width 220px
  background blue

#content
  flex 1

.avatar
  width 48px
  height @width
  border-radius 50%
